*{
    box-sizing: border-box;
}

.container{
    max-width: 65vw;
    display: flex;
    
}
.container span{
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

.container .week{
    display: flex;
    flex-wrap: wrap;
}

.container .week .week__item{
    width: 20%;
}

.container .week .week__item.workweek,
.container .week .week__item.weekend{
    width: 100%;
}

.container .week .week__item:nth-child(8),
.container .week .week__item:nth-child(9){
    width: 50%;
}

.container .notes{
    display: flex;
    flex-direction: column;
}

.container .notes span{
    height: 50%;
}

